/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/* Species Comparative Size style */
species-compsize{
	font-size:100px;
}
species-compsize i{
	letter-spacing: -30px;
}

/* Species detail header */

section#species-detail-nav button,
section#species-detail-nav button:focus,
section#species-detail-nav button:active,
section#species-detail-nav button.btn.navbar-btn:hover{
	background-color:transparent;
	border:none;
	outline:none;
	box-shadow:none;
}

section#species-detail-nav span{
	font-size: 1.5em;
}

section#species-detail-nav .sidebar-close{
	position:absolute;
	margin-left:-50px;
	z-index:1000;
	
}

